
.DS_Store
Simple MIDI.swiftpm/.swiftpm/xcode/xcuserdata/evanmurray.xcuserdatad/xcschemes/xcschememanagement.plist
Simple MIDI.swiftpm/.swiftpm/xcode/package.xcworkspace/xcuserdata/evanmurray.xcuserdatad/UserInterfaceState.xcuserstate
Simple MIDI.swiftpm/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.sf2
